body {
	font-size: 16px;
	background-image: url(../bild/background.jpg);
}
main{
	width: 80%;
	margin: 0 auto;
	background-color: #051A21;
}
header{
	width: 100%;
	height:100px;
	background-image: url(../bild/img.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
}
nav{
	width: 100%;
	font-family: 'Kumar One Outline', cursive;
	font-size: 2em;
}
nav > ul > li {
	list-style: none;
	display: inline;
	padding-left: 0 20px;
	border: 1px solid black;
	background-color: orange;

}
li > a {
	text-decoration: none;
	}
li > a:hover {
	color: red;
}
nav > ul > li:hover{
	color:red;
	background-color: black;
}

section{
	font-family: 'Kumar One Outline', cursive;
	height: 60vh;

}
h1{
	color: white;
	font-size: 4em;
	font-family: 'Kumar One Outline', cursive;
	
}
p{
	color: white;
	font-size: 1.2em;
	font-family: 'Kumar One Outline', cursive;
}